@import url(https://fonts.googleapis.com/css?family=Raleway);

.mainLayout {
	text-align: center;
  	background-color: rgb(240,240,240);
	margin-left: 350px;
	margin-right: 350px;
	font-family: Raleway;
}
